h1{
  color: #1946ba;
  font-family: "Open Sans";
  position: fixed;
  left: 30px;
  top: 10px;
}

h2{
  color: black;
  font-family: "Open Sans";
  position: fixed;
  left: 30px;
  top: 60px;
}

blockquote{
  background: white;
  font-style: "Open Sans";
  border-left: 5px solid #F5F5F5;
  padding: 0.5em 10px;
  position: fixed;
  left: 30px;
  top: 100px;
  max-width: 960px;
}

button{
  background-color: #ec0b43;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-family: "Open Sans";
  position: fixed;
  left: 30px;
  top: 200px;
}

#authors_button{
  background-color: #ec0b43;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "Open Sans";
  position: fixed;
  left: 450px;
  top: 200px;
}

select{
 color: white;
 background-color: #ec0b43;
 border-radius: 15px;
 padding-left: 15px;
 position: fixed;
 left: 245px;
 top: 200px;
}
